<!DOCTYPE html>
<html>

<head>
    <title>Go listing</title>
    <style>
        .photos>div {
            float: left;
            margin: 10px;
        }

        h1 {
            text-align: center
        }
    </style>
    <script src="./static/js/lightbox-plus-jquery.min.js"> </script>
    <link rel="stylesheet" href="./static/css/lightbox.min.css">
</head>

<body>
    <h1>Go listing</h1>
    <div class="photos">
        {{range .Images}}
        <div>
            <a href="photo/.thumb/{{.}}.800.thumb" target="_blank"
                data-lightbox="photos">
                <img src="photo/.thumb/{{.}}.200.thumb" />
            </a><br />
            <a href="photo/{{.}}" target="_blank">original</a>
        </div>
        {{end}}
    </div>

    <script src="./static/js/lightbox.min.js"></script>
</body>

</html>