name: workflow.yml
on:
  push:
    branches: [ "**" ]
  pull_request:
jobs:
  gofmt:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22' # or your version

      - name: Run gofmt check
        run: |
          unformatted=$(gofmt -l .)
          if [ -n "$unformatted" ]; then
            echo "The following files are not gofmt'ed:"
            echo "$unformatted"
            exit 1
          fi
